.ticket {
    background-image: url(../../photos/ticket-removebg.png);
    background-size: cover;
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 48vh;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;

    .ticket-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 16vh;
        width: 45%;
        margin: auto;
        padding-left: 13%;

        .top-cell{
            display: flex;
            align-items: center;
            padding-top: 1rem;
            height: 8vh;

        }
        .bottom-cell{
            padding-top: 0.5rem;
            height: 8vh;

        }
        
        span, p{
            font-family: "Alex Brush", cursive;
            font-weight: 400;
            color: #000;
            font-size: 1.6rem;
            line-height: 1.6rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

}

.ticket-padding{
    padding: 5rem 0;
}

@media all and (max-width: 768px) {
    .ticket {
        height: 38vh;
        width: 100%;  
        .ticket-content {
            span, p{
                font-size: 1rem;
                line-height: 1.2rem;
            }
            p{
                font-size: 0.8rem;
            }
            
        }
    
    }
  }
  